.light {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.dark {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.imgContainer:hover {
  transform: scale(1.1);
}
.img {
  width: 25px;  
  height: 25px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.light .img {
  filter: invert(0);
}
.dark .img {
  filter: invert(1);
}
@media (max-width: 768px) {
  .img {
    width: 16px;
    height: 16px;
  }

  .light, .dark {
    padding: 6px 12px;
    font-size: 14px;
  }
}
