footer{
    position: relative;
    top: 60px;
}


/* footer2 the upper one light css */
.footer2container{
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 30px;
        height: 10%;
        padding-bottom:  0px;
        background-color: rgb(237, 237, 184);
        /* border: 2px solid blue; */

}
.footermidcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}
.sellbtn{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
}
.sellbtn:hover{
    background: #000;
    -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 10px #05bada66;
    }

    70% {
        box-shadow: 0 0 0 20px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
}

.imgsize{
    width: 12%;
    height: auto;
       
   
}


/* footer1 the lower one light css */
.footer1container{
    color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: 30px;
        height: 10%;
        padding-bottom: 0px;
        background-color: rgb(29, 39, 48);
        padding: 20px;
        /* border: 2px solid blue; */
}